header {
  width: 100%;
  height: 43.125em;
  position: relative;
  nav {
    @include flex(row, space-between, center);
    margin-left: 10.3125em;
    margin-right: 10.3125em;
    margin-top: 3em;
  }

  .left-nav {
    width: 9.375em;
    height: 2.5em;
    @include flex(row, center, center);
  }

  .right-nav ul {
    @include flex(row, space-between, center);
    list-style: none;

    li {
      margin-right: 2.875em;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: $veryDarkBlue;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;

      &:hover {
        color: $softRed;
      }
    }

    .button {
      @include button(7em, 2.5em, $softRed);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      color: white;
      font-weight: 500;

      &:hover {
        background-color: white;
        color: $softRed;
        border: 2px solid $softRed;
      }
    }
  }

  .hero-card {
    width: 30.125em;
    height: 18.125em;
    margin-left: 10.3125em;
    margin-top: 12.8125em;
    @include flex(column, space-around, center);

    .title {
      font-size: 2.1875rem;
      color: $veryDarkBlue;
    }

    p {
      font-size: 1rem;
      color: rgb(148, 149, 154);
    }

    .buttons {
      @include flex(row, space-between, center);
      width: 70%;
      margin-right: 9.0625em;
      a {
        text-decoration: none;
        font-weight: 500;
      }
      .button {
        &__chrome {
          @include button(10.3125em, 3.125em, $softBlue);
          color: white;

          &:hover {
            color: $softBlue;
            border: 2px solid $softBlue;
            background-color: white;
          }
        }
        &__firefox {
          @include button(10.3125em, 3.125em, rgb(247, 247, 247));
          color: black;

          &:hover {
            color: gray;
            background-color: white;
            border: 2px solid gray;
          }
        }
      }
    }
  }
  .clip-shape {
    width: 31.25em;
    height: 21.875em;
    background-color: $softBlue;
    clip-path: inset(0 0 0 0 round 45% 0 0 45%);
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .hero-image {
    position: absolute;
    right: 5.625em;
    top: 9.375em;
  }
}
