.footer {
  background-color: $veryDarkBlue;
  width: 100%;
  height: 33.75em;
  @include flex(row, center, center);
  @include laptopScreenSize {
    height: 20em;
  }

  &__content {
    width: 90%;
    height: 100%;
    @include flex(column, space-around, center);

    @include laptopScreenSize {
      padding-left: 4.3125rem;
      padding-right: 4.3125rem;
      display: grid;
      grid-template-columns: repeat(3, 307px);
      grid-template-rows: repeat(2, 160px);
    }
  }

  &__input {
    @include tabletScreenSize {
      width: 50%;
      @include flex(row, space-between, center);
    }
    @include laptopScreenSize {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      width: 110%;
    }
    padding-top: 3.125rem;
    .email-input {
      width: 15rem;
      height: 2.8125rem;
      border-radius: 25px;
      border: none;
      font-size: 0.9rem;
      font-weight: 700;
      color: $darkGrayishBlue;
      padding-left: 20px;

      &:focus {
        outline: none;
      }
    }

    .button {
      width: 4.5rem;
      height: 2.8125rem;
      box-shadow: none;
    }
  }

  &__grid {
    width: 80%;
    @include tabletScreenSize {
      width: 50%;
      margin-left: 2rem;
    }

    @include laptopScreenSize {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      width: 55%;
      margin-left: 265px;
    }

    @include desktopScreenSize {
      margin-left: 340px;
    }
    .menu {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(4, 2.5rem);
      grid-column-gap: 30px;
      color: $veryPaleRed;
      list-style: none;

      a {
        &:hover {
          color: $brightRed;
          cursor: pointer;
        }
      }
    }
  }

  &__social-networks {
    width: 90%;
    @include flex(row, space-between, center);
    @include tabletScreenSize {
      width: 60%;
    }
    @include laptopScreenSize {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 65%;
    }
    .icon {
      &__facebook {
        @include maskIcon("masks/icon-facebook.svg");
      }
      &__twitter {
        @include maskIcon("masks/icon-twitter.svg");
        height: 1.78rem;
        @include laptopScreenSize {
          width: 1.78rem;
          height: 1.5rem;
        }
      }
      &__youtube {
        @include maskIcon("masks/icon-youtube.svg");
      }
      &__pinterest {
        @include maskIcon("masks/icon-pinterest.svg");
      }
      &__instagram {
        @include maskIcon("masks/icon-instagram.svg");
      }
    }
  }

  &__copyright {
    width: 90%;
    font-size: 0.9rem;
    color: $darkGrayishBlue;
    text-align: center;
    @include laptopScreenSize {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      width: 130%;
    }
  }

  &__logo {
    @include laptopScreenSize {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 50%;
    }
  }
}
